/* ANY CSS TO OVERWRITE THE DEFAULT, E.G. COLORS */

:root{
    --primary-color: #018BFF;
    --primary-color-dark: #004884;
    --primary-color-light: #cee8ff;
    /* --action-color: #0c79e7; */
    --action-color: #018BFF;
    --color-black: #333333;
    --color-dark-grey: #4C4C4C;
    --color-grey: #787878;
    --color-light-grey: #989898;
    --color-lighter-grey: #E3E5E5;
    --color-white: #FEFFFF;

    --color-success: #4CAF50;
    --color-danger: #F44336;
    --color-warning: #FFC107;
    --color-info: #03A9F4;

    --title-font: 'Raleway', sans-serif;
    --text-font: 'Open Sans', sans-serif;
}